<div class="parallax">
<div class="card mx-auto shadowcard">
<div class="header">
<h1>JosephSamuel Buthuri</h1>
</div>
<div class="mainContent">
<div class="ConnLeft">
  <div class="LeftMain">
    <p>Newly graduated web developer offering enthusiasm and understanding of various programming languages. Looking to join organization where opportunity for growth and professional development is embraced.</p>
  <span>
    <label for="workTablw">Work History <hr></label>
    <table class="workTablw" id="workTablw">
      <tr>
        <th class="thDate">
          Mar '19 – April '19
        </th>
        <th>
          Web Developer Intern
        </th>
      </tr>
      <tr>
        <td></td>
        <td class="tdItalicP">
          Moirai Technology
        </td>
      </tr>
      <tr>
        <td> </td>
        <td>
          <ul>
            <li>
              Designed an OCR webpage structure with user login system.
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </span>
  <span>
    <label for="workTablw">Education <hr></label>
    <table class="workTablw" id="workTablw">
      <tr>
        <th class="thDate">
          April-2020
        </th>
        <th>
          Computer Science and Engineering
        </th>
      </tr>
      <tr>
        <td></td>
        <td class="tdItalicP">
          Mallareddy engineering college - Hyderabad
        </td>
      </tr>
      <tr>
        <td> </td>
        <td>
          Graduated with <b>8.44 CGPA</b>
        </td>
      </tr>
      <tr>
        <th class="thDate">
          March-2016
        </th>
        <th>
          XII – MPC
        </th>
      </tr>
      <tr>
        <td></td>
        <td class="tdItalicP">
          Sri Chaitanya Jr College - Hyderabad
        </td>
      </tr>
      <tr>
        <td> </td>
        <td>
          Scored: <b>8.44 %</b>
        </td>
      </tr>
      <tr>
        <th class="thDate">
          March-2014
        </th>
        <th>
          High School
        </th>
      </tr>
      <tr>
        <td></td>
        <td class="tdItalicP">
          Krishnaveni Talent School – Vemulawada
        </td>
      </tr>
      <tr>
        <td> </td>
        <td>
          Scored <b>8.8 CGPA</b> out of 10 CGPA
        </td>
      </tr>
    </table>
  </span>
  <span>
    <label for="workTablw">Projects <hr></label>
    <ul>
      <li>
        <a href="http://reg.lala.dx.am" target="blank">College Registration form </a>
      </li>
      <li>

      </li>
      <li>

      </li>
      <li>

      </li>
    </ul>
    </span>
  </div>
</div>
<div class="ConnRight">
RIGHT
</div>
</div>
</div>
</div>
